.section--features {
  padding: 5rem 0;
}

.dot-item {
	width: 13px;
	height: 13px;
	background-color: #342312;
	border-radius: 50%;
}

.tns-nav-active {
	width: 13px;
	height: 13px;
	background-color: #FF2;
	border-radius: 50%;

}